openapi: 3.1.0
info:
  title: Google Docs API
  description: >-
    The Google Docs API lets you create, read, and edit Google Docs documents.
    You can use it to programmatically create and modify documents, apply
    formatting, insert content, and manage document structure including
    paragraphs, tables, headers, footers, and inline objects.
  version: v1
  termsOfService: https://developers.google.com/terms
  contact:
    name: Google
    url: https://developers.google.com/docs/api/support
  license:
    name: Creative Commons Attribution 4.0
    url: https://creativecommons.org/licenses/by/4.0/
  x-logo:
    url: https://www.gstatic.com/images/branding/product/2x/docs_48dp.png
externalDocs:
  description: Google Docs API documentation
  url: https://developers.google.com/docs/api/reference/rest
servers:
- url: https://docs.googleapis.com
  description: Google Docs API production server
security:
- oauth2: []
tags:
- name: Documents
  description: Operations on Google Docs documents
paths:
  /v1/documents:
    post:
      operationId: docs.documents.create
      summary: Google Docs Create a Document
      description: >-
        Creates a blank document using the title given in the request. Other
        fields in the request, including any provided content, are ignored.
      tags:
      - Documents
      requestBody:
        description: The document to create. Only the title field is used.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDocumentRequest'
            examples:
              DocsDocumentsCreateRequestExample:
                summary: Default docs.documents.create request
                x-microcks-default: true
                value:
                  title: Example Title
      responses:
        '200':
          description: Successful response containing the newly created document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
              examples:
                DocsDocumentsCreate200Example:
                  summary: Default docs.documents.create 200 response
                  x-microcks-default: true
                  value:
                    documentId: '500123'
                    title: Example Title
                    tabs:
                    - childTabs: {}
                    revisionId: '500123'
                    suggestionsViewMode: DEFAULT_FOR_CURRENT_ACCESS
                    body:
                      content:
                      - {}
                    headers: example_value
                    footers: example_value
                    footnotes: example_value
                    documentStyle:
                      defaultHeaderId: '500123'
                      defaultFooterId: '500123'
                      evenPageHeaderId: '500123'
                      evenPageFooterId: '500123'
                      firstPageHeaderId: '500123'
                      firstPageFooterId: '500123'
                      useFirstPageHeaderFooter: true
                      useEvenPageHeaderFooter: true
                      pageNumberStart: 10
                      useCustomHeaderFooterMargins: true
                      flipPageOrientation: true
                    suggestedDocumentStyleChanges: example_value
                    namedStyles:
                      styles:
                      - {}
                    suggestedNamedStylesChanges: example_value
                    lists: example_value
                    namedRanges: example_value
                    inlineObjects: example_value
                    positionedObjects: example_value
        '400':
          description: Bad request. The request was invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                DocsDocumentsCreate400Example:
                  summary: Default docs.documents.create 400 response
                  x-microcks-default: true
                  value:
                    error:
                      code: 10
                      message: example_value
                      status: example_value
                      details:
                      - {}
        '401':
          description: Unauthorized. Authentication credentials are missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                DocsDocumentsCreate401Example:
                  summary: Default docs.documents.create 401 response
                  x-microcks-default: true
                  value:
                    error:
                      code: 10
                      message: example_value
                      status: example_value
                      details:
                      - {}
        '403':
          description: Forbidden. The caller does not have permission.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                DocsDocumentsCreate403Example:
                  summary: Default docs.documents.create 403 response
                  x-microcks-default: true
                  value:
                    error:
                      code: 10
                      message: example_value
                      status: example_value
                      details:
                      - {}
      security:
      - oauth2:
        - https://www.googleapis.com/auth/documents
      - oauth2:
        - https://www.googleapis.com/auth/drive
      - oauth2:
        - https://www.googleapis.com/auth/drive.file
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/documents/{documentId}:
    get:
      operationId: docs.documents.get
      summary: Google Docs Get a Document
      description: >-
        Gets the latest version of the specified document. Returns the full
        document resource including content, styling, and metadata.
      tags:
      - Documents
      parameters:
      - name: documentId
        in: path
        required: true
        description: The ID of the document to retrieve.
        schema:
          type: string
        example: '500123'
      - name: suggestionsViewMode
        in: query
        required: false
        description: >-
          The suggestions view mode to apply to the document. This allows
          viewing the document with all suggestions inline, collapsed, or
          only previewing suggestions accepted or rejected. If not specified,
          defaults to DEFAULT_FOR_CURRENT_ACCESS.
        schema:
          $ref: '#/components/schemas/SuggestionsViewMode'
        example: example_value
      - name: includeTabsContent
        in: query
        required: false
        description: >-
          Whether to populate the Document.tabs field instead of the text
          content fields like body, documentStyle, headers, etc. When true,
          content is returned in Document.tabs. When false, content from the
          first tab populates the legacy content fields.
        schema:
          type: boolean
        example: true
      responses:
        '200':
          description: Successful response containing the requested document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
              examples:
                DocsDocumentsGet200Example:
                  summary: Default docs.documents.get 200 response
                  x-microcks-default: true
                  value:
                    documentId: '500123'
                    title: Example Title
                    tabs:
                    - childTabs: {}
                    revisionId: '500123'
                    suggestionsViewMode: DEFAULT_FOR_CURRENT_ACCESS
                    body:
                      content:
                      - {}
                    headers: example_value
                    footers: example_value
                    footnotes: example_value
                    documentStyle:
                      defaultHeaderId: '500123'
                      defaultFooterId: '500123'
                      evenPageHeaderId: '500123'
                      evenPageFooterId: '500123'
                      firstPageHeaderId: '500123'
                      firstPageFooterId: '500123'
                      useFirstPageHeaderFooter: true
                      useEvenPageHeaderFooter: true
                      pageNumberStart: 10
                      useCustomHeaderFooterMargins: true
                      flipPageOrientation: true
                    suggestedDocumentStyleChanges: example_value
                    namedStyles:
                      styles:
                      - {}
                    suggestedNamedStylesChanges: example_value
                    lists: example_value
                    namedRanges: example_value
                    inlineObjects: example_value
                    positionedObjects: example_value
        '401':
          description: Unauthorized. Authentication credentials are missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                DocsDocumentsGet401Example:
                  summary: Default docs.documents.get 401 response
                  x-microcks-default: true
                  value:
                    error:
                      code: 10
                      message: example_value
                      status: example_value
                      details:
                      - {}
        '403':
          description: Forbidden. The caller does not have permission.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                DocsDocumentsGet403Example:
                  summary: Default docs.documents.get 403 response
                  x-microcks-default: true
                  value:
                    error:
                      code: 10
                      message: example_value
                      status: example_value
                      details:
                      - {}
        '404':
          description: Not found. The specified document does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                DocsDocumentsGet404Example:
                  summary: Default docs.documents.get 404 response
                  x-microcks-default: true
                  value:
                    error:
                      code: 10
                      message: example_value
                      status: example_value
                      details:
                      - {}
      security:
      - oauth2:
        - https://www.googleapis.com/auth/documents
      - oauth2:
        - https://www.googleapis.com/auth/documents.readonly
      - oauth2:
        - https://www.googleapis.com/auth/drive
      - oauth2:
        - https://www.googleapis.com/auth/drive.readonly
      - oauth2:
        - https://www.googleapis.com/auth/drive.file
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/documents/{documentId}:batchUpdate:
    post:
      operationId: docs.documents.batchUpdate
      summary: Google Docs Batch Update a Document
      description: >-
        Applies one or more updates to the document. Each request is validated
        before being applied. If any request is not valid, the entire request
        will fail and nothing will be applied. Some requests have replies to
        give you some information about how they are applied. Other requests
        do not need to return information; these each return an empty reply.
        The order of replies matches the order of requests.
      tags:
      - Documents
      parameters:
      - name: documentId
        in: path
        required: true
        description: The ID of the document to update.
        schema:
          type: string
        example: '500123'
      requestBody:
        description: The batch update request containing one or more document updates.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchUpdateDocumentRequest'
            examples:
              DocsDocumentsBatchupdateRequestExample:
                summary: Default docs.documents.batchUpdate request
                x-microcks-default: true
                value:
                  requests:
                  - {}
                  writeControl:
                    requiredRevisionId: '500123'
                    targetRevisionId: '500123'
      responses:
        '200':
          description: >-
            Successful response containing the document ID, ordered replies
            for each request, and updated write control information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchUpdateDocumentResponse'
              examples:
                DocsDocumentsBatchupdate200Example:
                  summary: Default docs.documents.batchUpdate 200 response
                  x-microcks-default: true
                  value:
                    documentId: '500123'
                    replies:
                    - {}
                    writeControl:
                      requiredRevisionId: '500123'
                      targetRevisionId: '500123'
        '400':
          description: >-
            Bad request. One or more of the update requests were invalid.
            Nothing was applied to the document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                DocsDocumentsBatchupdate400Example:
                  summary: Default docs.documents.batchUpdate 400 response
                  x-microcks-default: true
                  value:
                    error:
                      code: 10
                      message: example_value
                      status: example_value
                      details:
                      - {}
        '401':
          description: Unauthorized. Authentication credentials are missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                DocsDocumentsBatchupdate401Example:
                  summary: Default docs.documents.batchUpdate 401 response
                  x-microcks-default: true
                  value:
                    error:
                      code: 10
                      message: example_value
                      status: example_value
                      details:
                      - {}
        '403':
          description: Forbidden. The caller does not have permission.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                DocsDocumentsBatchupdate403Example:
                  summary: Default docs.documents.batchUpdate 403 response
                  x-microcks-default: true
                  value:
                    error:
                      code: 10
                      message: example_value
                      status: example_value
                      details:
                      - {}
        '404':
          description: Not found. The specified document does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                DocsDocumentsBatchupdate404Example:
                  summary: Default docs.documents.batchUpdate 404 response
                  x-microcks-default: true
                  value:
                    error:
                      code: 10
                      message: example_value
                      status: example_value
                      details:
                      - {}
      security:
      - oauth2:
        - https://www.googleapis.com/auth/documents
      - oauth2:
        - https://www.googleapis.com/auth/drive
      - oauth2:
        - https://www.googleapis.com/auth/drive.file
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 authentication for Google APIs.
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/documents: >-
              View and manage your Google Docs documents
            https://www.googleapis.com/auth/documents.readonly: >-
              View your Google Docs documents
            https://www.googleapis.com/auth/drive: >-
              See, edit, create, and delete all of your Google Drive files
            https://www.googleapis.com/auth/drive.readonly: >-
              See and download all your Google Drive files
            https://www.googleapis.com/auth/drive.file: >-
              View and manage Google Drive files and folders that you have
              opened or created with this app
  schemas:
    CreateDocumentRequest:
      type: object
      description: Request body for creating a new document. Only the title is used.
      properties:
        title:
          type: string
          description: The title of the document to create.
          example: Example Title
      required:
      - title

    Document:
      type: object
      description: >-
        A Google Docs document. The Document resource represents the full
        content and metadata of a document.
      properties:
        documentId:
          type: string
          description: Output only. The ID of the document.
          readOnly: true
          example: '500123'
        title:
          type: string
          description: The title of the document.
          example: Example Title
        tabs:
          type: array
          description: >-
            Tabs that are part of a document. Tabs can contain child tabs,
            creating a nested tab structure.
          items:
            $ref: '#/components/schemas/Tab'
          example: []
        revisionId:
          type: string
          description: >-
            Output only. The revision ID of the document. Can be used in
            update requests to specify which revision of a document to
            apply updates to, and how the request should behave if the
            document has been edited since that revision.
          readOnly: true
          example: '500123'
        suggestionsViewMode:
          $ref: '#/components/schemas/SuggestionsViewMode'
        body:
          $ref: '#/components/schemas/Body'
        headers:
          type: object
          description: >-
            Output only. The headers in the document, keyed by header ID.
          additionalProperties:
            $ref: '#/components/schemas/Header'
          readOnly: true
          example: example_value
        footers:
          type: object
          description: >-
            Output only. The footers in the document, keyed by footer ID.
          additionalProperties:
            $ref: '#/components/schemas/Footer'
          readOnly: true
          example: example_value
        footnotes:
          type: object
          description: >-
            Output only. The footnotes in the document, keyed by footnote ID.
          additionalProperties:
            $ref: '#/components/schemas/Footnote'
          readOnly: true
          example: example_value
        documentStyle:
          $ref: '#/components/schemas/DocumentStyle'
        suggestedDocumentStyleChanges:
          type: object
          description: >-
            Output only. The suggested changes to the style of the document,
            keyed by suggestion ID.
          additionalProperties:
            type: object
          readOnly: true
          example: example_value
        namedStyles:
          $ref: '#/components/schemas/NamedStyles'
        suggestedNamedStylesChanges:
          type: object
          description: >-
            Output only. The suggested changes to the named styles of the
            document, keyed by suggestion ID.
          additionalProperties:
            type: object
          readOnly: true
          example: example_value
        lists:
          type: object
          description: >-
            Output only. The lists in the document, keyed by list ID.
          additionalProperties:
            $ref: '#/components/schemas/List'
          readOnly: true
          example: example_value
        namedRanges:
          type: object
          description: >-
            Output only. The named ranges in the document, keyed by name.
          additionalProperties:
            $ref: '#/components/schemas/NamedRanges'
          readOnly: true
          example: example_value
        inlineObjects:
          type: object
          description: >-
            Output only. The inline objects in the document, keyed by
            object ID.
          additionalProperties:
            $ref: '#/components/schemas/InlineObject'
          readOnly: true
          example: example_value
        positionedObjects:
          type: object
          description: >-
            Output only. The positioned objects in the document, keyed by
            object ID.
          additionalProperties:
            $ref: '#/components/schemas/PositionedObject'
          readOnly: true

          example: example_value
    Tab:
      type: object
      description: >-
        A tab within a document. Tabs can contain content and can be nested
        with child tabs.
      properties:
        tabProperties:
          $ref: '#/components/schemas/TabProperties'
        childTabs:
          type: array
          description: The child tabs nested within this tab.
          items:
            $ref: '#/components/schemas/Tab'
          example: []
        documentTab:
          $ref: '#/components/schemas/DocumentTab'

    TabProperties:
      type: object
      description: Properties of a tab.
      properties:
        tabId:
          type: string
          description: Output only. The ID of the tab.
          readOnly: true
          example: '500123'
        title:
          type: string
          description: The title of the tab.
          example: Example Title
        parentTabId:
          type: string
          description: >-
            Output only. The ID of the parent tab. Empty if this is a
            root-level tab.
          readOnly: true
          example: '500123'
        index:
          type: integer
          description: The zero-based index of the tab amongst its siblings.

          example: 10
    DocumentTab:
      type: object
      description: >-
        The content of a tab in a document, containing the body and
        associated document-level properties.
      properties:
        body:
          $ref: '#/components/schemas/Body'
        headers:
          type: object
          description: The headers in this tab, keyed by header ID.
          additionalProperties:
            $ref: '#/components/schemas/Header'
          example: example_value
        footers:
          type: object
          description: The footers in this tab, keyed by footer ID.
          additionalProperties:
            $ref: '#/components/schemas/Footer'
          example: example_value
        footnotes:
          type: object
          description: The footnotes in this tab, keyed by footnote ID.
          additionalProperties:
            $ref: '#/components/schemas/Footnote'
          example: example_value
        documentStyle:
          $ref: '#/components/schemas/DocumentStyle'
        namedStyles:
          $ref: '#/components/schemas/NamedStyles'
        lists:
          type: object
          description: The lists in this tab, keyed by list ID.
          additionalProperties:
            $ref: '#/components/schemas/List'
          example: example_value
        namedRanges:
          type: object
          description: The named ranges in this tab, keyed by name.
          additionalProperties:
            $ref: '#/components/schemas/NamedRanges'
          example: example_value
        inlineObjects:
          type: object
          description: The inline objects in this tab, keyed by object ID.
          additionalProperties:
            $ref: '#/components/schemas/InlineObject'
          example: example_value
        positionedObjects:
          type: object
          description: The positioned objects in this tab, keyed by object ID.
          additionalProperties:
            $ref: '#/components/schemas/PositionedObject'

          example: example_value
    Body:
      type: object
      description: >-
        The document body. The body typically contains the full content of
        the document.
      properties:
        content:
          type: array
          description: >-
            The contents of the body. Elements in the body are ordered by
            their start index.
          items:
            $ref: '#/components/schemas/StructuralElement'

          example: []
    StructuralElement:
      type: object
      description: >-
        A StructuralElement describes content that provides structure to
        the document.
      properties:
        startIndex:
          type: integer
          description: The zero-based start index of this structural element.
          example: 10
        endIndex:
          type: integer
          description: The zero-based end index of this structural element, exclusive.
          example: 10
        paragraph:
          $ref: '#/components/schemas/Paragraph'
        sectionBreak:
          $ref: '#/components/schemas/SectionBreak'
        table:
          $ref: '#/components/schemas/Table'
        tableOfContents:
          $ref: '#/components/schemas/TableOfContents'

    Paragraph:
      type: object
      description: >-
        A StructuralElement representing a paragraph. A paragraph is a
        range of content that is terminated with a newline character.
      properties:
        elements:
          type: array
          description: The content of the paragraph, broken into its component parts.
          items:
            $ref: '#/components/schemas/ParagraphElement'
          example: []
        paragraphStyle:
          $ref: '#/components/schemas/ParagraphStyle'
        bullet:
          $ref: '#/components/schemas/Bullet'
        suggestedParagraphStyleChanges:
          type: object
          description: Suggested changes to the paragraph style, keyed by suggestion ID.
          additionalProperties:
            type: object
          example: example_value
        suggestedBulletChanges:
          type: object
          description: Suggested changes to the bullet, keyed by suggestion ID.
          additionalProperties:
            type: object
          example: example_value
        positionedObjectIds:
          type: array
          description: >-
            The IDs of the positioned objects tethered to this paragraph.
          items:
            type: string

          example: []
    ParagraphElement:
      type: object
      description: >-
        A ParagraphElement describes content within a paragraph.
      properties:
        startIndex:
          type: integer
          description: The zero-based start index of this paragraph element.
          example: 10
        endIndex:
          type: integer
          description: The zero-based end index of this paragraph element, exclusive.
          example: 10
        textRun:
          $ref: '#/components/schemas/TextRun'
        autoText:
          $ref: '#/components/schemas/AutoText'
        pageBreak:
          $ref: '#/components/schemas/PageBreak'
        columnBreak:
          $ref: '#/components/schemas/ColumnBreak'
        footnoteReference:
          $ref: '#/components/schemas/FootnoteReference'
        horizontalRule:
          $ref: '#/components/schemas/HorizontalRule'
        equation:
          $ref: '#/components/schemas/Equation'
        inlineObjectElement:
          $ref: '#/components/schemas/InlineObjectElement'
        person:
          $ref: '#/components/schemas/Person'
        richLink:
          $ref: '#/components/schemas/RichLink'

    TextRun:
      type: object
      description: >-
        A ParagraphElement that represents a run of text that all has the
        same styling.
      properties:
        content:
          type: string
          description: >-
            The text of this run. Any non-text elements in the run are
            replaced with the Unicode character U+E907.
          example: example_value
        textStyle:
          $ref: '#/components/schemas/TextStyle'
        suggestedInsertionIds:
          type: array
          description: The suggested insertion IDs.
          items:
            type: string
          example: []
        suggestedDeletionIds:
          type: array
          description: The suggested deletion IDs.
          items:
            type: string
          example: []
        suggestedTextStyleChanges:
          type: object
          description: Suggested changes to the text style, keyed by suggestion ID.
          additionalProperties:
            type: object

          example: example_value
    TextStyle:
      type: object
      description: >-
        Represents the styling that can be applied to text. Inherited text
        styles are represented as unset fields. A text style's parent
        depends on where the text style is defined.
      properties:
        bold:
          type: boolean
          description: Whether the text is bold.
          example: true
        italic:
          type: boolean
          description: Whether the text is italicized.
          example: true
        underline:
          type: boolean
          description: Whether the text is underlined.
          example: true
        strikethrough:
          type: boolean
          description: Whether the text is struck through.
          example: true
        smallCaps:
          type: boolean
          description: Whether the text is in small capital letters.
          example: true
        backgroundColor:
          $ref: '#/components/schemas/OptionalColor'
        foregroundColor:
          $ref: '#/components/schemas/OptionalColor'
        fontSize:
          $ref: '#/components/schemas/Dimension'
        weightedFontFamily:
          $ref: '#/components/schemas/WeightedFontFamily'
        baselineOffset:
          type: string
          description: >-
            The text's vertical offset from its normal position.
          enum:
          - BASELINE_OFFSET_UNSPECIFIED
          - NONE
          - SUPERSCRIPT
          - SUBSCRIPT
          example: BASELINE_OFFSET_UNSPECIFIED
        link:
          $ref: '#/components/schemas/Link'

    ParagraphStyle:
      type: object
      description: >-
        Styles that apply to a whole paragraph. Inherited paragraph styles
        are represented as unset fields.
      properties:
        headingId:
          type: string
          description: The heading ID of the paragraph.
          example: '500123'
        namedStyleType:
          type: string
          description: The named style type of the paragraph.
          enum:
          - NAMED_STYLE_TYPE_UNSPECIFIED
          - NORMAL_TEXT
          - TITLE
          - SUBTITLE
          - HEADING_1
          - HEADING_2
          - HEADING_3
          - HEADING_4
          - HEADING_5
          - HEADING_6
          example: NAMED_STYLE_TYPE_UNSPECIFIED
        alignment:
          type: string
          description: The text alignment for this paragraph.
          enum:
          - ALIGNMENT_UNSPECIFIED
          - START
          - CENTER
          - END
          - JUSTIFIED
          example: ALIGNMENT_UNSPECIFIED
        lineSpacing:
          type: number
          description: >-
            The amount of space between lines as a percentage of normal,
            where normal is represented as 100.0.
          example: 42.5
        direction:
          type: string
          description: The text direction of this paragraph.
          enum:
          - CONTENT_DIRECTION_UNSPECIFIED
          - LEFT_TO_RIGHT
          - RIGHT_TO_LEFT
          example: CONTENT_DIRECTION_UNSPECIFIED
        spacingMode:
          type: string
          description: The spacing mode for the paragraph.
          enum:
          - SPACING_MODE_UNSPECIFIED
          - NEVER_COLLAPSE
          - COLLAPSE_LISTS
          example: SPACING_MODE_UNSPECIFIED
        spaceAbove:
          $ref: '#/components/schemas/Dimension'
        spaceBelow:
          $ref: '#/components/schemas/Dimension'
        borderBetween:
          $ref: '#/components/schemas/ParagraphBorder'
        borderTop:
          $ref: '#/components/schemas/ParagraphBorder'
        borderBottom:
          $ref: '#/components/schemas/ParagraphBorder'
        borderLeft:
          $ref: '#/components/schemas/ParagraphBorder'
        borderRight:
          $ref: '#/components/schemas/ParagraphBorder'
        indentFirstLine:
          $ref: '#/components/schemas/Dimension'
        indentStart:
          $ref: '#/components/schemas/Dimension'
        indentEnd:
          $ref: '#/components/schemas/Dimension'
        tabStops:
          type: array
          description: >-
            A list of the tab stops for this paragraph, sorted in ascending
            order of the tab stop offset.
          items:
            $ref: '#/components/schemas/TabStop'
          example: []
        keepLinesTogether:
          type: boolean
          description: >-
            Whether all lines of the paragraph should be laid out on the
            same page or column if possible.
          example: true
        keepWithNext:
          type: boolean
          description: >-
            Whether at least a part of this paragraph should be laid out on
            the same page or column as the next paragraph if possible.
          example: true
        avoidWidowAndOrphan:
          type: boolean
          description: >-
            Whether to avoid widows and orphans for the paragraph.
          example: true
        shading:
          $ref: '#/components/schemas/Shading'
        pageBreakBefore:
          type: boolean
          description: >-
            Whether the current paragraph should always start at the
            beginning of a page.

          example: true
    DocumentStyle:
      type: object
      description: >-
        The style of the document, influencing the look of the document
        and any defaults for new content.
      properties:
        background:
          $ref: '#/components/schemas/Background'
        defaultHeaderId:
          type: string
          description: The ID of the default header.
          example: '500123'
        defaultFooterId:
          type: string
          description: The ID of the default footer.
          example: '500123'
        evenPageHeaderId:
          type: string
          description: The ID of the header used for even pages.
          example: '500123'
        evenPageFooterId:
          type: string
          description: The ID of the footer used for even pages.
          example: '500123'
        firstPageHeaderId:
          type: string
          description: The ID of the header used for the first page.
          example: '500123'
        firstPageFooterId:
          type: string
          description: The ID of the footer used for the first page.
          example: '500123'
        useFirstPageHeaderFooter:
          type: boolean
          description: >-
            Whether to use the first page header/footer IDs for the first
            page of the document.
          example: true
        useEvenPageHeaderFooter:
          type: boolean
          description: >-
            Whether to use the even page header/footer IDs for even pages.
          example: true
        pageNumberStart:
          type: integer
          description: >-
            The page number from which to start counting the number of pages.
          example: 10
        marginTop:
          $ref: '#/components/schemas/Dimension'
        marginBottom:
          $ref: '#/components/schemas/Dimension'
        marginRight:
          $ref: '#/components/schemas/Dimension'
        marginLeft:
          $ref: '#/components/schemas/Dimension'
        pageSize:
          $ref: '#/components/schemas/Size'
        marginHeader:
          $ref: '#/components/schemas/Dimension'
        marginFooter:
          $ref: '#/components/schemas/Dimension'
        useCustomHeaderFooterMargins:
          type: boolean
          description: Whether to use custom header/footer margins.
          example: true
        flipPageOrientation:
          type: boolean
          description: >-
            Whether to flip the orientation of the page to landscape, which
            effectively swaps the width and height of the page size.

          example: true
    NamedStyles:
      type: object
      description: >-
        The named styles defined in the document. Paragraphs in the document
        can inherit their text and paragraph styles from these named styles.
      properties:
        styles:
          type: array
          description: The named styles.
          items:
            $ref: '#/components/schemas/NamedStyle'

          example: []
    NamedStyle:
      type: object
      description: A named style that can be applied to paragraphs.
      properties:
        namedStyleType:
          type: string
          description: The type of this named style.
          enum:
          - NAMED_STYLE_TYPE_UNSPECIFIED
          - NORMAL_TEXT
          - TITLE
          - SUBTITLE
          - HEADING_1
          - HEADING_2
          - HEADING_3
          - HEADING_4
          - HEADING_5
          - HEADING_6
          example: NAMED_STYLE_TYPE_UNSPECIFIED
        textStyle:
          $ref: '#/components/schemas/TextStyle'
        paragraphStyle:
          $ref: '#/components/schemas/ParagraphStyle'

    Header:
      type: object
      description: A document header.
      properties:
        headerId:
          type: string
          description: Output only. The ID of the header.
          readOnly: true
          example: '500123'
        content:
          type: array
          description: The contents of the header.
          items:
            $ref: '#/components/schemas/StructuralElement'

          example: []
    Footer:
      type: object
      description: A document footer.
      properties:
        footerId:
          type: string
          description: Output only. The ID of the footer.
          readOnly: true
          example: '500123'
        content:
          type: array
          description: The contents of the footer.
          items:
            $ref: '#/components/schemas/StructuralElement'

          example: []
    Footnote:
      type: object
      description: A document footnote.
      properties:
        footnoteId:
          type: string
          description: Output only. The ID of the footnote.
          readOnly: true
          example: '500123'
        content:
          type: array
          description: The contents of the footnote.
          items:
            $ref: '#/components/schemas/StructuralElement'

          example: []
    SectionBreak:
      type: object
      description: >-
        A StructuralElement representing a section break. A section is a
        range of content that has the same section style.
      properties:
        sectionStyle:
          $ref: '#/components/schemas/SectionStyle'
        suggestedInsertionIds:
          type: array
          items:
            type: string
          example: []
        suggestedDeletionIds:
          type: array
          items:
            type: string

          example: []
    SectionStyle:
      type: object
      description: >-
        The style of a section, influencing the layout of the section's
        content.
      properties:
        columnProperties:
          type: array
          description: >-
            The section's columns properties. If empty, the section contains
            one column with the default properties.
          items:
            $ref: '#/components/schemas/SectionColumnProperties'
          example: []
        columnSeparatorStyle:
          type: string
          description: The style of column separators.
          enum:
          - COLUMN_SEPARATOR_STYLE_UNSPECIFIED
          - NONE
          - BETWEEN_EACH_COLUMN
          example: COLUMN_SEPARATOR_STYLE_UNSPECIFIED
        contentDirection:
          type: string
          description: The content direction of this section.
          enum:
          - CONTENT_DIRECTION_UNSPECIFIED
          - LEFT_TO_RIGHT
          - RIGHT_TO_LEFT
          example: CONTENT_DIRECTION_UNSPECIFIED
        sectionType:
          type: string
          description: The type of section.
          enum:
          - SECTION_TYPE_UNSPECIFIED
          - CONTINUOUS
          - NEXT_PAGE
          example: SECTION_TYPE_UNSPECIFIED
        defaultHeaderId:
          type: string
          example: '500123'
        defaultFooterId:
          type: string
          example: '500123'
        evenPageHeaderId:
          type: string
          example: '500123'
        evenPageFooterId:
          type: string
          example: '500123'
        firstPageHeaderId:
          type: string
          example: '500123'
        firstPageFooterId:
          type: string
          example: '500123'
        useFirstPageHeaderFooter:
          type: boolean
          example: true
        marginTop:
          $ref: '#/components/schemas/Dimension'
        marginBottom:
          $ref: '#/components/schemas/Dimension'
        marginRight:
          $ref: '#/components/schemas/Dimension'
        marginLeft:
          $ref: '#/components/schemas/Dimension'
        marginHeader:
          $ref: '#/components/schemas/Dimension'
        marginFooter:
          $ref: '#/components/schemas/Dimension'
        pageNumberStart:
          type: integer
          example: 10
        flipPageOrientation:
          type: boolean

          example: true
    SectionColumnProperties:
      type: object
      description: Properties that apply to a section's column.
      properties:
        width:
          $ref: '#/components/schemas/Dimension'
        paddingEnd:
          $ref: '#/components/schemas/Dimension'

    Table:
      type: object
      description: >-
        A StructuralElement representing a table.
      properties:
        rows:
          type: integer
          description: Number of rows in the table.
          example: 10
        columns:
          type: integer
          description: Number of columns in the table.
          example: 10
        tableRows:
          type: array
          description: The contents and style of each row.
          items:
            $ref: '#/components/schemas/TableRow'
          example: []
        tableStyle:
          $ref: '#/components/schemas/TableStyle'
        suggestedInsertionIds:
          type: array
          items:
            type: string
          example: []
        suggestedDeletionIds:
          type: array
          items:
            type: string

          example: []
    TableRow:
      type: object
      description: The contents and style of a row in a table.
      properties:
        startIndex:
          type: integer
          description: The zero-based start index of this row.
          example: 10
        endIndex:
          type: integer
          description: The zero-based end index of this row, exclusive.
          example: 10
        tableCells:
          type: array
          description: The contents and style of each cell in this row.
          items:
            $ref: '#/components/schemas/TableCell'
          example: []
        tableRowStyle:
          $ref: '#/components/schemas/TableRowStyle'
        suggestedInsertionIds:
          type: array
          items:
            type: string
          example: []
        suggestedDeletionIds:
          type: array
          items:
            type: string
          example: []
        suggestedTableRowStyleChanges:
          type: object
          additionalProperties:
            type: object

          example: example_value
    TableCell:
      type: object
      description: The contents and style of a cell in a table.
      properties:
        startIndex:
          type: integer
          example: 10
        endIndex:
          type: integer
          example: 10
        content:
          type: array
          description: The content of the cell.
          items:
            $ref: '#/components/schemas/StructuralElement'
          example: []
        tableCellStyle:
          $ref: '#/components/schemas/TableCellStyle'
        suggestedInsertionIds:
          type: array
          items:
            type: string
          example: []
        suggestedDeletionIds:
          type: array
          items:
            type: string
          example: []
        suggestedTableCellStyleChanges:
          type: object
          additionalProperties:
            type: object

          example: example_value
    TableCellStyle:
      type: object
      description: The style of a table cell.
      properties:
        rowSpan:
          type: integer
          description: The row span of the cell.
          example: 10
        columnSpan:
          type: integer
          description: The column span of the cell.
          example: 10
        backgroundColor:
          $ref: '#/components/schemas/OptionalColor'
        borderLeft:
          $ref: '#/components/schemas/TableCellBorder'
        borderRight:
          $ref: '#/components/schemas/TableCellBorder'
        borderTop:
          $ref: '#/components/schemas/TableCellBorder'
        borderBottom:
          $ref: '#/components/schemas/TableCellBorder'
        paddingLeft:
          $ref: '#/components/schemas/Dimension'
        paddingRight:
          $ref: '#/components/schemas/Dimension'
        paddingTop:
          $ref: '#/components/schemas/Dimension'
        paddingBottom:
          $ref: '#/components/schemas/Dimension'
        contentAlignment:
          type: string
          description: The alignment of the content in the table cell.
          enum:
          - CONTENT_ALIGNMENT_UNSPECIFIED
          - CONTENT_ALIGNMENT_UNSUPPORTED
          - TOP
          - MIDDLE
          - BOTTOM

          example: CONTENT_ALIGNMENT_UNSPECIFIED
    TableCellBorder:
      type: object
      description: A border around a table cell.
      properties:
        color:
          $ref: '#/components/schemas/OptionalColor'
        width:
          $ref: '#/components/schemas/Dimension'
        dashStyle:
          type: string
          enum:
          - DASH_STYLE_UNSPECIFIED
          - SOLID
          - DOT
          - DASH

          example: DASH_STYLE_UNSPECIFIED
    TableRowStyle:
      type: object
      description: Style properties for a table row.
      properties:
        minRowHeight:
          $ref: '#/components/schemas/Dimension'
        tableHeader:
          type: boolean
          description: Whether the row is a table header.
          example: true
        preventOverflow:
          type: boolean
          description: Whether the row cannot overflow across page or column boundaries.

          example: true
    TableStyle:
      type: object
      description: Style properties for a table.
      properties:
        tableColumnProperties:
          type: array
          description: The properties of each column.
          items:
            $ref: '#/components/schemas/TableColumnProperties'

          example: []
    TableColumnProperties:
      type: object
      description: The properties of a column in a table.
      properties:
        widthType:
          type: string
          description: The width type of the column.
          enum:
          - WIDTH_TYPE_UNSPECIFIED
          - EVENLY_DISTRIBUTED
          - FIXED_WIDTH
          example: WIDTH_TYPE_UNSPECIFIED
        width:
          $ref: '#/components/schemas/Dimension'

    TableOfContents:
      type: object
      description: >-
        A StructuralElement representing a table of contents.
      properties:
        content:
          type: array
          description: The content of the table of contents.
          items:
            $ref: '#/components/schemas/StructuralElement'
          example: []
        suggestedInsertionIds:
          type: array
          items:
            type: string
          example: []
        suggestedDeletionIds:
          type: array
          items:
            type: string

          example: []
    AutoText:
      type: object
      description: >-
        A ParagraphElement representing a spot in the text that is
        dynamically replaced with content that can change over time,
        like a page number.
      properties:
        type:
          type: string
          description: The type of this auto text.
          enum:
          - TYPE_UNSPECIFIED
          - PAGE_NUMBER
          - PAGE_COUNT
          example: TYPE_UNSPECIFIED
        suggestedInsertionIds:
          type: array
          items:
            type: string
          example: []
        suggestedDeletionIds:
          type: array
          items:
            type: string
          example: []
        suggestedTextStyleChanges:
          type: object
          additionalProperties:
            type: object
          example: example_value
        textStyle:
          $ref: '#/components/schemas/TextStyle'

    PageBreak:
      type: object
      description: >-
        A ParagraphElement representing a page break. A page break makes
        the subsequent text start at the top of the next page.
      properties:
        suggestedInsertionIds:
          type: array
          items:
            type: string
          example: []
        suggestedDeletionIds:
          type: array
          items:
            type: string
          example: []
        suggestedTextStyleChanges:
          type: object
          additionalProperties:
            type: object
          example: example_value
        textStyle:
          $ref: '#/components/schemas/TextStyle'

    ColumnBreak:
      type: object
      description: >-
        A ParagraphElement representing a column break. A column break makes
        the subsequent text start at the top of the next column.
      properties:
        suggestedInsertionIds:
          type: array
          items:
            type: string
          example: []
        suggestedDeletionIds:
          type: array
          items:
            type: string
          example: []
        suggestedTextStyleChanges:
          type: object
          additionalProperties:
            type: object
          example: example_value
        textStyle:
          $ref: '#/components/schemas/TextStyle'

    FootnoteReference:
      type: object
      description: >-
        A ParagraphElement representing a footnote reference.
      properties:
        footnoteId:
          type: string
          description: The ID of the footnote that contains the content of this footnote reference.
          example: '500123'
        footnoteNumber:
          type: string
          description: >-
            Output only. The rendered number of this footnote.
          readOnly: true
          example: example_value
        suggestedInsertionIds:
          type: array
          items:
            type: string
          example: []
        suggestedDeletionIds:
          type: array
          items:
            type: string
          example: []
        suggestedTextStyleChanges:
          type: object
          additionalProperties:
            type: object
          example: example_value
        textStyle:
          $ref: '#/components/schemas/TextStyle'

    HorizontalRule:
      type: object
      description: >-
        A ParagraphElement representing a horizontal line.
      properties:
        suggestedInsertionIds:
          type: array
          items:
            type: string
          example: []
        suggestedDeletionIds:
          type: array
          items:
            type: string
          example: []
        suggestedTextStyleChanges:
          type: object
          additionalProperties:
            type: object
          example: example_value
        textStyle:
          $ref: '#/components/schemas/TextStyle'

    Equation:
      type: object
      description: >-
        A ParagraphElement representing an equation.
      properties:
        suggestedInsertionIds:
          type: array
          items:
            type: string
          example: []
        suggestedDeletionIds:
          type: array
          items:
            type: string

          example: []
    InlineObjectElement:
      type: object
      description: >-
        A ParagraphElement that contains an InlineObject.
      properties:
        inlineObjectId:
          type: string
          description: The ID of the InlineObject this element contains.
          example: '500123'
        suggestedInsertionIds:
          type: array
          items:
            type: string
          example: []
        suggestedDeletionIds:
          type: array
          items:
            type: string
          example: []
        suggestedTextStyleChanges:
          type: object
          additionalProperties:
            type: object
          example: example_value
        textStyle:
          $ref: '#/components/schemas/TextStyle'

    InlineObject:
      type: object
      description: >-
        An object that appears inline with text. An InlineObject contains
        an EmbeddedObject such as an image.
      properties:
        objectId:
          type: string
          description: The ID of this inline object.
          example: '500123'
        inlineObjectProperties:
          $ref: '#/components/schemas/InlineObjectProperties'
        suggestedInlineObjectPropertiesChanges:
          type: object
          additionalProperties:
            type: object
          example: example_value
        suggestedInsertionId:
          type: string
          example: '500123'
        suggestedDeletionIds:
          type: array
          items:
            type: string

          example: []
    InlineObjectProperties:
      type: object
      description: Properties of an InlineObject.
      properties:
        embeddedObject:
          $ref: '#/components/schemas/EmbeddedObject'

    PositionedObject:
      type: object
      description: >-
        An object that is tethered to a paragraph and positioned relative
        to the beginning of the paragraph.
      properties:
        objectId:
          type: string
          description: The ID of this positioned object.
          example: '500123'
        positionedObjectProperties:
          $ref: '#/components/schemas/PositionedObjectProperties'
        suggestedPositionedObjectPropertiesChanges:
          type: object
          additionalProperties:
            type: object
          example: example_value
        suggestedInsertionId:
          type: string
          example: '500123'
        suggestedDeletionIds:
          type: array
          items:
            type: string

          example: []
    PositionedObjectProperties:
      type: object
      description: Properties of a PositionedObject.
      properties:
        positioning:
          $ref: '#/components/schemas/PositionedObjectPositioning'
        embeddedObject:
          $ref: '#/components/schemas/EmbeddedObject'

    PositionedObjectPositioning:
      type: object
      description: The positioning of a PositionedObject.
      properties:
        layout:
          type: string
          description: The layout of this positioned object.
          enum:
          - POSITIONED_OBJECT_LAYOUT_UNSPECIFIED
          - WRAP_TEXT
          - BREAK_LEFT
          - BREAK_RIGHT
          - BREAK_LEFT_RIGHT
          - IN_FRONT_OF_TEXT
          - BEHIND_TEXT
          example: POSITIONED_OBJECT_LAYOUT_UNSPECIFIED
        leftOffset:
          $ref: '#/components/schemas/Dimension'
        topOffset:
          $ref: '#/components/schemas/Dimension'

    EmbeddedObject:
      type: object
      description: An embedded object such as an image.
      properties:
        title:
          type: string
          description: The title of the embedded object.
          example: Example Title
        description:
          type: string
          description: The description of the embedded object.
          example: A sample description.
        embeddedObjectBorder:
          $ref: '#/components/schemas/EmbeddedObjectBorder'
        size:
          $ref: '#/components/schemas/Size'
        marginTop:
          $ref: '#/components/schemas/Dimension'
        marginBottom:
          $ref: '#/components/schemas/Dimension'
        marginRight:
          $ref: '#/components/schemas/Dimension'
        marginLeft:
          $ref: '#/components/schemas/Dimension'
        linkedContentReference:
          $ref: '#/components/schemas/LinkedContentReference'
        imageProperties:
          $ref: '#/components/schemas/ImageProperties'
        embeddedDrawingProperties:
          type: object
          description: Properties of an embedded drawing. Currently empty.

          example: example_value
    EmbeddedObjectBorder:
      type: object
      description: A border around an EmbeddedObject.
      properties:
        color:
          $ref: '#/components/schemas/OptionalColor'
        width:
          $ref: '#/components/schemas/Dimension'
        dashStyle:
          type: string
          enum:
          - DASH_STYLE_UNSPECIFIED
          - SOLID
          - DOT
          - DASH
          example: DASH_STYLE_UNSPECIFIED
        propertyState:
          type: string
          enum:
          - RENDERED
          - NOT_RENDERED

          example: RENDERED
    ImageProperties:
      type: object
      description: The properties of an image.
      properties:
        contentUri:
          type: string
          description: >-
            A URI to the image with a default lifetime of 30 minutes.
          example: example_value
        sourceUri:
          type: string
          description: The source URI of the image.
          example: example_value
        brightness:
          type: number
          description: The brightness effect of the image, from -1.0 to 1.0.
          example: 42.5
        contrast:
          type: number
          description: The contrast effect of the image, from -1.0 to 1.0.
          example: 42.5
        transparency:
          type: number
          description: The transparency effect of the image, from 0.0 to 1.0.
          example: 42.5
        cropProperties:
          $ref: '#/components/schemas/CropProperties'
        angle:
          type: number
          description: The clockwise rotation angle of the image, in radians.

          example: 42.5
    CropProperties:
      type: object
      description: The crop properties of an image.
      properties:
        offsetLeft:
          type: number
          description: The offset from the left edge, as a fraction of the image width.
          example: 42.5
        offsetRight:
          type: number
          description: The offset from the right edge, as a fraction of the image width.
          example: 42.5
        offsetTop:
          type: number
          description: The offset from the top edge, as a fraction of the image height.
          example: 42.5
        offsetBottom:
          type: number
          description: The offset from the bottom edge, as a fraction of the image height.
          example: 42.5
        angle:
          type: number
          description: The clockwise rotation angle of the crop rectangle.

          example: 42.5
    LinkedContentReference:
      type: object
      description: A reference to the external linked source content.
      properties:
        sheetsChartReference:
          $ref: '#/components/schemas/SheetsChartReference'

    SheetsChartReference:
      type: object
      description: A reference to a linked chart embedded from Google Sheets.
      properties:
        spreadsheetId:
          type: string
          description: The ID of the Google Sheets spreadsheet that contains the source chart.
          example: '500123'
        chartId:
          type: integer
          description: The ID of the specific chart in the Sheets spreadsheet.

          example: '500123'
    Person:
      type: object
      description: >-
        A person or email address mentioned in a document.
      properties:
        personId:
          type: string
          description: Output only. The unique ID of this link.
          readOnly: true
          example: '500123'
        personProperties:
          $ref: '#/components/schemas/PersonProperties'
        suggestedInsertionIds:
          type: array
          items:
            type: string
          example: []
        suggestedDeletionIds:
          type: array
          items:
            type: string
          example: []
        suggestedTextStyleChanges:
          type: object
          additionalProperties:
            type: object
          example: example_value
        textStyle:
          $ref: '#/components/schemas/TextStyle'

    PersonProperties:
      type: object
      description: Properties specific to a linked person.
      properties:
        name:
          type: string
          description: Output only. The name of the person.
          readOnly: true
          example: Example Title
        email:
          type: string
          description: Output only. The email address linked to this person.
          readOnly: true

          example: user@example.com
    RichLink:
      type: object
      description: >-
        A link to a Google resource such as a file in Drive, a YouTube video,
        or a Calendar event.
      properties:
        richLinkId:
          type: string
          description: Output only. The ID of this link.
          readOnly: true
          example: '500123'
        richLinkProperties:
          $ref: '#/components/schemas/RichLinkProperties'
        suggestedInsertionIds:
          type: array
          items:
            type: string
          example: []
        suggestedDeletionIds:
          type: array
          items:
            type: string
          example: []
        suggestedTextStyleChanges:
          type: object
          additionalProperties:
            type: object
          example: example_value
        textStyle:
          $ref: '#/components/schemas/TextStyle'

    RichLinkProperties:
      type: object
      description: Properties specific to a RichLink.
      properties:
        title:
          type: string
          description: Output only. The title of the RichLink as displayed in the document.
          readOnly: true
          example: Example Title
        uri:
          type: string
          description: Output only. The URI of the RichLink.
          readOnly: true
          example: example_value
        mimeType:
          type: string
          description: Output only. The MIME type of the RichLink.
          readOnly: true

          example: example_value
    Bullet:
      type: object
      description: Describes the bullet of a paragraph.
      properties:
        listId:
          type: string
          description: The ID of the list this paragraph belongs to.
          example: '500123'
        nestingLevel:
          type: integer
          description: The nesting level of this paragraph in the list.
          example: 10
        textStyle:
          $ref: '#/components/schemas/TextStyle'

    List:
      type: object
      description: >-
        A List represents the list attributes for a group of paragraphs
        that all belong to the same list.
      properties:
        listProperties:
          $ref: '#/components/schemas/ListProperties'
        suggestedListPropertiesChanges:
          type: object
          additionalProperties:
            type: object
          example: example_value
        suggestedInsertionId:
          type: string
          example: '500123'
        suggestedDeletionIds:
          type: array
          items:
            type: string

          example: []
    ListProperties:
      type: object
      description: The properties of a list which describe the look and feel of bullets.
      properties:
        nestingLevels:
          type: array
          description: >-
            Describes the properties of the bullets at the associated level.
            A list has at most 9 levels of nesting.
          items:
            $ref: '#/components/schemas/NestingLevel'

          example: []
    NestingLevel:
      type: object
      description: >-
        Contains properties describing the look and feel of a list bullet
        at a given level of nesting.
      properties:
        bulletAlignment:
          type: string
          description: The alignment of the bullet within the space allotted for rendering.
          enum:
          - BULLET_ALIGNMENT_UNSPECIFIED
          - START
          - CENTER
          - END
          example: BULLET_ALIGNMENT_UNSPECIFIED
        glyphFormat:
          type: string
          description: >-
            The format string used by bullets at this level of nesting.
          example: example_value
        indentFirstLine:
          $ref: '#/components/schemas/Dimension'
        indentStart:
          $ref: '#/components/schemas/Dimension'
        textStyle:
          $ref: '#/components/schemas/TextStyle'
        startNumber:
          type: integer
          description: The number of the first list item at this nesting level.
          example: 10
        glyphType:
          type: string
          description: The type of glyph used by bullets at this nesting level.
          enum:
          - GLYPH_TYPE_UNSPECIFIED
          - NONE
          - DECIMAL
          - ZERO_DECIMAL
          - UPPER_ALPHA
          - ALPHA
          - UPPER_ROMAN
          - ROMAN
          example: GLYPH_TYPE_UNSPECIFIED
        glyphSymbol:
          type: string
          description: A custom glyph symbol used by bullets at this nesting level.

          example: example_value
    NamedRanges:
      type: object
      description: >-
        A collection of all the NamedRanges in the document that share a
        given name.
      properties:
        name:
          type: string
          description: The name that all the named ranges share.
          example: Example Title
        namedRanges:
          type: array
          description: The named ranges that share the same name.
          items:
            $ref: '#/components/schemas/NamedRange'

          example: []
    NamedRange:
      type: object
      description: >-
        A collection of Ranges that have the same named range ID.
      properties:
        namedRangeId:
          type: string
          description: The ID of the named range.
          example: '500123'
        name:
          type: string
          description: The name of the named range.
          example: Example Title
        ranges:
          type: array
          description: The ranges that belong to this named range.
          items:
            $ref: '#/components/schemas/Range'

          example: []
    Range:
      type: object
      description: >-
        Specifies a contiguous range of text.
      properties:
        segmentId:
          type: string
          description: >-
            The ID of the header, footer, or footnote that this range is
            contained in. An empty segment ID signifies the document body.
          example: '500123'
        startIndex:
          type: integer
          description: >-
            The zero-based start index of this range, in UTF-16 code units.
          example: 10
        endIndex:
          type: integer
          description: >-
            The zero-based end index of this range, exclusive, in UTF-16
            code units.
          example: 10
        tabId:
          type: string
          description: The tab that contains this range.

          example: '500123'
    Link:
      type: object
      description: A reference to another portion of a document or an external URL.
      properties:
        url:
          type: string
          description: An external URI.
          example: https://www.example.com
        bookmarkId:
          type: string
          description: The ID of a bookmark in this document.
          example: '500123'
        headingId:
          type: string
          description: The ID of a heading in this document.
          example: '500123'
        tabId:
          type: string
          description: The ID of a tab in this document.

          example: '500123'
    OptionalColor:
      type: object
      description: >-
        A color that can either be fully opaque or fully transparent.
      properties:
        color:
          $ref: '#/components/schemas/Color'

    Color:
      type: object
      description: A solid color.
      properties:
        rgbColor:
          $ref: '#/components/schemas/RgbColor'

    RgbColor:
      type: object
      description: An RGB color.
      properties:
        red:
          type: number
          description: The red component of the color, from 0.0 to 1.0.
          example: 42.5
        green:
          type: number
          description: The green component of the color, from 0.0 to 1.0.
          example: 42.5
        blue:
          type: number
          description: The blue component of the color, from 0.0 to 1.0.

          example: 42.5
    Dimension:
      type: object
      description: A magnitude in a single direction in the specified units.
      properties:
        magnitude:
          type: number
          description: The magnitude.
          example: 42.5
        unit:
          type: string
          description: The units for magnitude.
          enum:
          - UNIT_UNSPECIFIED
          - PT

          example: UNIT_UNSPECIFIED
    Size:
      type: object
      description: >-
        A width and height.
      properties:
        height:
          $ref: '#/components/schemas/Dimension'
        width:
          $ref: '#/components/schemas/Dimension'

    WeightedFontFamily:
      type: object
      description: >-
        Represents a font family and weight of text.
      properties:
        fontFamily:
          type: string
          description: The font family of the text.
          example: example_value
        weight:
          type: integer
          description: >-
            The weight of the font. This field can have any value that is a
            multiple of 100 between 100 and 900, inclusive.

          example: 10
    ParagraphBorder:
      type: object
      description: A border around a paragraph.
      properties:
        color:
          $ref: '#/components/schemas/OptionalColor'
        width:
          $ref: '#/components/schemas/Dimension'
        padding:
          $ref: '#/components/schemas/Dimension'
        dashStyle:
          type: string
          enum:
          - DASH_STYLE_UNSPECIFIED
          - SOLID
          - DOT
          - DASH

          example: DASH_STYLE_UNSPECIFIED
    TabStop:
      type: object
      description: A tab stop within a paragraph.
      properties:
        offset:
          $ref: '#/components/schemas/Dimension'
        alignment:
          type: string
          description: The alignment of this tab stop.
          enum:
          - TAB_STOP_ALIGNMENT_UNSPECIFIED
          - START
          - CENTER
          - END

          example: TAB_STOP_ALIGNMENT_UNSPECIFIED
    Shading:
      type: object
      description: The shading of a paragraph.
      properties:
        backgroundColor:
          $ref: '#/components/schemas/OptionalColor'

    Background:
      type: object
      description: Represents the background of a document.
      properties:
        color:
          $ref: '#/components/schemas/OptionalColor'

    SuggestionsViewMode:
      type: string
      description: >-
        The suggestions view mode applied to the document, determining
        how changes from suggestions are represented.
      enum:
      - DEFAULT_FOR_CURRENT_ACCESS
      - SUGGESTIONS_INLINE
      - PREVIEW_SUGGESTIONS_ACCEPTED
      - PREVIEW_WITHOUT_SUGGESTIONS

    Location:
      type: object
      description: >-
        A particular location in the document.
      properties:
        segmentId:
          type: string
          description: >-
            The ID of the header, footer, or footnote the location is in.
            An empty segment ID signifies the document body.
          example: '500123'
        index:
          type: integer
          description: >-
            The zero-based index, in UTF-16 code units. The index is
            relative to the beginning of the segment specified by segmentId.
          example: 10
        tabId:
          type: string
          description: The tab that the location is in.

          example: '500123'
    BatchUpdateDocumentRequest:
      type: object
      description: >-
        Request message for BatchUpdateDocument.
      properties:
        requests:
          type: array
          description: >-
            A list of updates to apply to the document.
          items:
            $ref: '#/components/schemas/Request'
          example: []
        writeControl:
          $ref: '#/components/schemas/WriteControl'
      required:
      - requests

    BatchUpdateDocumentResponse:
      type: object
      description: >-
        Response message for BatchUpdateDocument.
      properties:
        documentId:
          type: string
          description: The ID of the document to which the updates were applied.
          example: '500123'
        replies:
          type: array
          description: >-
            The reply of the updates. This maps 1:1 with the updates,
            although replies to some requests may be empty.
          items:
            $ref: '#/components/schemas/Response'
          example: []
        writeControl:
          $ref: '#/components/schemas/WriteControl'

    WriteControl:
      type: object
      description: >-
        Provides control over how write requests are executed. When set
        on a request, it provides a way to detect conflicts.
      properties:
        requiredRevisionId:
          type: string
          description: >-
            The optional revision ID of the document the write request is
            applied to. If this is not the latest revision of the document,
            the request is not processed and returns a 400 bad request error.
          example: '500123'
        targetRevisionId:
          type: string
          description: >-
            The optional target revision ID of the document the write
            request is applied to. If collaborator changes have occurred
            after the document was read using the API, the changes produced
            by this write request are applied against the collaborator
            changes. This results in a resolved document.

          example: '500123'
    Request:
      type: object
      description: >-
        A single update to apply to a document. Exactly one field must
        be set.
      properties:
        insertText:
          $ref: '#/components/schemas/InsertTextRequest'
        deleteContentRange:
          $ref: '#/components/schemas/DeleteContentRangeRequest'
        insertInlineImage:
          $ref: '#/components/schemas/InsertInlineImageRequest'
        insertTable:
          $ref: '#/components/schemas/InsertTableRequest'
        insertTableRow:
          $ref: '#/components/schemas/InsertTableRowRequest'
        insertTableColumn:
          $ref: '#/components/schemas/InsertTableColumnRequest'
        deleteTableRow:
          $ref: '#/components/schemas/DeleteTableRowRequest'
        deleteTableColumn:
          $ref: '#/components/schemas/DeleteTableColumnRequest'
        insertPageBreak:
          $ref: '#/components/schemas/InsertPageBreakRequest'
        insertSectionBreak:
          $ref: '#/components/schemas/InsertSectionBreakRequest'
        deletePositionedObject:
          $ref: '#/components/schemas/DeletePositionedObjectRequest'
        updateTextStyle:
          $ref: '#/components/schemas/UpdateTextStyleRequest'
        updateParagraphStyle:
          $ref: '#/components/schemas/UpdateParagraphStyleRequest'
        updateTableCellStyle:
          $ref: '#/components/schemas/UpdateTableCellStyleRequest'
        updateTableRowStyle:
          $ref: '#/components/schemas/UpdateTableRowStyleRequest'
        updateTableColumnProperties:
          $ref: '#/components/schemas/UpdateTableColumnPropertiesRequest'
        updateDocumentStyle:
          $ref: '#/components/schemas/UpdateDocumentStyleRequest'
        updateSectionStyle:
          $ref: '#/components/schemas/UpdateSectionStyleRequest'
        replaceAllText:
          $ref: '#/components/schemas/ReplaceAllTextRequest'
        createNamedRange:
          $ref: '#/components/schemas/CreateNamedRangeRequest'
        deleteNamedRange:
          $ref: '#/components/schemas/DeleteNamedRangeRequest'
        replaceNamedRangeContent:
          $ref: '#/components/schemas/ReplaceNamedRangeContentRequest'
        createParagraphBullets:
          $ref: '#/components/schemas/CreateParagraphBulletsRequest'
        deleteParagraphBullets:
          $ref: '#/components/schemas/DeleteParagraphBulletsRequest'
        createHeader:
          $ref: '#/components/schemas/CreateHeaderRequest'
        createFooter:
          $ref: '#/components/schemas/CreateFooterRequest'
        createFootnote:
          $ref: '#/components/schemas/CreateFootnoteRequest'
        deleteHeader:
          $ref: '#/components/schemas/DeleteHeaderRequest'
        deleteFooter:
          $ref: '#/components/schemas/DeleteFooterRequest'
        replaceImage:
          $ref: '#/components/schemas/ReplaceImageRequest'
        mergeTableCells:
          $ref: '#/components/schemas/MergeTableCellsRequest'
        unmergeTableCells:
          $ref: '#/components/schemas/UnmergeTableCellsRequest'
        pinTableHeaderRows:
          $ref: '#/components/schemas/PinTableHeaderRowsRequest'

    InsertTextRequest:
      type: object
      description: Inserts text at the given location.
      properties:
        text:
          type: string
          description: >-
            The text to be inserted. Inserting a newline character will
            implicitly create a new Paragraph at that index.
          example: example_value
        location:
          $ref: '#/components/schemas/Location'
        endOfSegmentLocation:
          $ref: '#/components/schemas/EndOfSegmentLocation'
      required:
      - text

    DeleteContentRangeRequest:
      type: object
      description: Deletes content from the document.
      properties:
        range:
          $ref: '#/components/schemas/Range'
      required:
      - range

    InsertInlineImageRequest:
      type: object
      description: Inserts an InlineObject containing an image at the given location.
      properties:
        uri:
          type: string
          description: >-
            The image URI. The image is fetched once at insertion time and
            a copy is stored for display inside the document.
          example: example_value
        objectSize:
          $ref: '#/components/schemas/Size'
        location:
          $ref: '#/components/schemas/Location'
        endOfSegmentLocation:
          $ref: '#/components/schemas/EndOfSegmentLocation'
      required:
      - uri

    InsertTableRequest:
      type: object
      description: Inserts a table at the specified location.
      properties:
        rows:
          type: integer
          description: The number of rows in the table.
          example: 10
        columns:
          type: integer
          description: The number of columns in the table.
          example: 10
        location:
          $ref: '#/components/schemas/Location'
        endOfSegmentLocation:
          $ref: '#/components/schemas/EndOfSegmentLocation'
      required:
      - rows
      - columns

    InsertTableRowRequest:
      type: object
      description: Inserts an empty row into a table.
      properties:
        tableCellLocation:
          $ref: '#/components/schemas/TableCellLocation'
        insertBelow:
          type: boolean
          description: Whether to insert new row below the reference cell location.
          example: true
      required:
      - tableCellLocation
      - insertBelow

    InsertTableColumnRequest:
      type: object
      description: Inserts an empty column into a table.
      properties:
        tableCellLocation:
          $ref: '#/components/schemas/TableCellLocation'
        insertRight:
          type: boolean
          description: Whether to insert new column to the right of the reference cell.
          example: true
      required:
      - tableCellLocation
      - insertRight

    DeleteTableRowRequest:
      type: object
      description: Deletes a row from a table.
      properties:
        tableCellLocation:
          $ref: '#/components/schemas/TableCellLocation'
      required:
      - tableCellLocation

    DeleteTableColumnRequest:
      type: object
      description: Deletes a column from a table.
      properties:
        tableCellLocation:
          $ref: '#/components/schemas/TableCellLocation'
      required:
      - tableCellLocation

    InsertPageBreakRequest:
      type: object
      description: Inserts a page break at the given location.
      properties:
        location:
          $ref: '#/components/schemas/Location'
        endOfSegmentLocation:
          $ref: '#/components/schemas/EndOfSegmentLocation'

    InsertSectionBreakRequest:
      type: object
      description: Inserts a section break at the given location.
      properties:
        sectionType:
          type: string
          description: The type of section to insert.
          enum:
          - SECTION_TYPE_UNSPECIFIED
          - CONTINUOUS
          - NEXT_PAGE
          example: SECTION_TYPE_UNSPECIFIED
        location:
          $ref: '#/components/schemas/Location'
        endOfSegmentLocation:
          $ref: '#/components/schemas/EndOfSegmentLocation'

    DeletePositionedObjectRequest:
      type: object
      description: Deletes a PositionedObject from the document.
      properties:
        objectId:
          type: string
          description: The ID of the positioned object to delete.
          example: '500123'
        tabId:
          type: string
          description: The tab that the positioned object is in.
          example: '500123'
      required:
      - objectId

    UpdateTextStyleRequest:
      type: object
      description: >-
        Updates the styling of text in the document.
      properties:
        range:
          $ref: '#/components/schemas/Range'
        textStyle:
          $ref: '#/components/schemas/TextStyle'
        fields:
          type: string
          description: >-
            The fields that should be updated. At least one field must be
            specified. The root textStyle is implied and should not be
            specified. For example, to update the bold field, set fields
            to "bold".
          example: example_value
      required:
      - range
      - textStyle
      - fields

    UpdateParagraphStyleRequest:
      type: object
      description: >-
        Updates the styling of paragraphs in the document.
      properties:
        range:
          $ref: '#/components/schemas/Range'
        paragraphStyle:
          $ref: '#/components/schemas/ParagraphStyle'
        fields:
          type: string
          description: >-
            The fields that should be updated. At least one field must be
            specified.
          example: example_value
      required:
      - range
      - paragraphStyle
      - fields

    UpdateTableCellStyleRequest:
      type: object
      description: Updates the style of a range of table cells.
      properties:
        tableRange:
          $ref: '#/components/schemas/TableRange'
        tableCellStyle:
          $ref: '#/components/schemas/TableCellStyle'
        fields:
          type: string
          description: The fields that should be updated.
          example: example_value
        tableStartLocation:
          $ref: '#/components/schemas/Location'
      required:
      - tableCellStyle
      - fields

    UpdateTableRowStyleRequest:
      type: object
      description: Updates the style of a table row.
      properties:
        tableStartLocation:
          $ref: '#/components/schemas/Location'
        rowIndices:
          type: array
          description: The list of zero-based row indices whose style should be updated.
          items:
            type: integer
          example: []
        tableRowStyle:
          $ref: '#/components/schemas/TableRowStyle'
        fields:
          type: string
          description: The fields that should be updated.
          example: example_value
      required:
      - tableStartLocation
      - rowIndices
      - tableRowStyle
      - fields

    UpdateTableColumnPropertiesRequest:
      type: object
      description: Updates the properties of columns in a table.
      properties:
        tableStartLocation:
          $ref: '#/components/schemas/Location'
        columnIndices:
          type: array
          description: >-
            The list of zero-based column indices whose property should
            be updated.
          items:
            type: integer
          example: []
        tableColumnProperties:
          $ref: '#/components/schemas/TableColumnProperties'
        fields:
          type: string
          description: The fields that should be updated.
          example: example_value
      required:
      - tableStartLocation
      - columnIndices
      - tableColumnProperties
      - fields

    UpdateDocumentStyleRequest:
      type: object
      description: Updates the DocumentStyle.
      properties:
        documentStyle:
          $ref: '#/components/schemas/DocumentStyle'
        fields:
          type: string
          description: The fields that should be updated.
          example: example_value
        tabId:
          type: string
          description: The tab that contains the style to update.
          example: '500123'
      required:
      - documentStyle
      - fields

    UpdateSectionStyleRequest:
      type: object
      description: Updates the SectionStyle.
      properties:
        range:
          $ref: '#/components/schemas/Range'
        sectionStyle:
          $ref: '#/components/schemas/SectionStyle'
        fields:
          type: string
          description: The fields that should be updated.
          example: example_value
      required:
      - range
      - sectionStyle
      - fields

    ReplaceAllTextRequest:
      type: object
      description: Replaces all instances of text matching a criteria with replace text.
      properties:
        containsText:
          $ref: '#/components/schemas/SubstringMatchCriteria'
        replaceText:
          type: string
          description: The text that will replace the matched text.
          example: example_value
        tabsCriteria:
          $ref: '#/components/schemas/TabsCriteria'
      required:
      - containsText
      - replaceText

    SubstringMatchCriteria:
      type: object
      description: >-
        A criteria that matches a specific string of text in the document.
      properties:
        text:
          type: string
          description: The text to search for in the document.
          example: example_value
        matchCase:
          type: boolean
          description: Indicates whether the search should respect case.
          example: true
      required:
      - text

    TabsCriteria:
      type: object
      description: >-
        A criteria that specifies in which tabs a request executes.
      properties:
        tabIds:
          type: array
          description: >-
            The list of tab IDs in which the request executes. An empty
            list signifies that the request executes in all tabs.
          items:
            type: string

          example: []
    CreateNamedRangeRequest:
      type: object
      description: Creates a NamedRange referencing the given range.
      properties:
        name:
          type: string
          description: The name of the NamedRange. Names do not need to be unique.
          example: Example Title
        range:
          $ref: '#/components/schemas/Range'
      required:
      - name
      - range

    DeleteNamedRangeRequest:
      type: object
      description: Deletes a NamedRange.
      properties:
        namedRangeId:
          type: string
          description: The ID of the named range to delete.
          example: '500123'
        name:
          type: string
          description: >-
            The name of the range to delete. All named ranges with the
            given name will be deleted.
          example: Example Title
        tabsCriteria:
          $ref: '#/components/schemas/TabsCriteria'

    ReplaceNamedRangeContentRequest:
      type: object
      description: Replaces the content of the specified NamedRange.
      properties:
        namedRangeId:
          type: string
          description: The ID of the named range whose content will be replaced.
          example: '500123'
        namedRangeName:
          type: string
          description: >-
            The name of the named ranges whose content will be replaced.
          example: example_value
        text:
          type: string
          description: Replaces the content of the specified named range with the given text.
          example: example_value
        tabsCriteria:
          $ref: '#/components/schemas/TabsCriteria'

    CreateParagraphBulletsRequest:
      type: object
      description: >-
        Creates bullets for all of the paragraphs that overlap with the
        given range.
      properties:
        range:
          $ref: '#/components/schemas/Range'
        bulletPreset:
          type: string
          description: The kinds of bullet glyphs to be used.
          enum:
          - BULLET_GLYPH_PRESET_UNSPECIFIED
          - BULLET_DISC_CIRCLE_SQUARE
          - BULLET_DIAMONDX_ARROW3D_SQUARE
          - BULLET_CHECKBOX
          - BULLET_ARROW_DIAMOND_DISC
          - BULLET_STAR_CIRCLE_SQUARE
          - BULLET_ARROW3D_CIRCLE_SQUARE
          - BULLET_LEFTTRIANGLE_DIAMOND_DISC
          - BULLET_DIAMONDX_HOLLOWDIAMOND_SQUARE
          - BULLET_DIAMOND_CIRCLE_SQUARE
          - NUMBERED_DECIMAL_ALPHA_ROMAN
          - NUMBERED_DECIMAL_ALPHA_ROMAN_PARENS
          - NUMBERED_DECIMAL_NESTED
          - NUMBERED_UPPERALPHA_ALPHA_ROMAN
          - NUMBERED_UPPERROMAN_UPPERALPHA_DECIMAL
          - NUMBERED_ZERODECIMAL_ALPHA_ROMAN
          example: BULLET_GLYPH_PRESET_UNSPECIFIED
      required:
      - range
      - bulletPreset

    DeleteParagraphBulletsRequest:
      type: object
      description: >-
        Deletes bullets from all of the paragraphs that overlap with the
        given range.
      properties:
        range:
          $ref: '#/components/schemas/Range'
      required:
      - range

    CreateHeaderRequest:
      type: object
      description: Creates a Header.
      properties:
        type:
          type: string
          description: The type of header to create.
          enum:
          - HEADER_FOOTER_TYPE_UNSPECIFIED
          - DEFAULT
          example: HEADER_FOOTER_TYPE_UNSPECIFIED
        sectionBreakLocation:
          $ref: '#/components/schemas/Location'
      required:
      - type

    CreateFooterRequest:
      type: object
      description: Creates a Footer.
      properties:
        type:
          type: string
          description: The type of footer to create.
          enum:
          - HEADER_FOOTER_TYPE_UNSPECIFIED
          - DEFAULT
          example: HEADER_FOOTER_TYPE_UNSPECIFIED
        sectionBreakLocation:
          $ref: '#/components/schemas/Location'
      required:
      - type

    CreateFootnoteRequest:
      type: object
      description: Creates a Footnote segment and inserts a new FootnoteReference.
      properties:
        location:
          $ref: '#/components/schemas/Location'
        endOfSegmentLocation:
          $ref: '#/components/schemas/EndOfSegmentLocation'

    DeleteHeaderRequest:
      type: object
      description: Deletes a Header from the document.
      properties:
        headerId:
          type: string
          description: The ID of the header to delete.
          example: '500123'
        tabId:
          type: string
          description: The tab containing the header to delete.
          example: '500123'
      required:
      - headerId

    DeleteFooterRequest:
      type: object
      description: Deletes a Footer from the document.
      properties:
        footerId:
          type: string
          description: The ID of the footer to delete.
          example: '500123'
        tabId:
          type: string
          description: The tab containing the footer to delete.
          example: '500123'
      required:
      - footerId

    ReplaceImageRequest:
      type: object
      description: >-
        Replaces an existing image with a new image. Replacing an image
        removes some image effects from the existing image in order to
        mirror the behavior of the Docs editor.
      properties:
        imageObjectId:
          type: string
          description: The ID of the existing image that will be replaced.
          example: '500123'
        uri:
          type: string
          description: >-
            The URI of the new image. The image is fetched once at insertion
            time and a copy is stored for display inside the document.
          example: example_value
        imageReplaceMethod:
          type: string
          description: The replacement method.
          enum:
          - IMAGE_REPLACE_METHOD_UNSPECIFIED
          - CENTER_CROP
          example: IMAGE_REPLACE_METHOD_UNSPECIFIED
        tabId:
          type: string
          description: The tab that the image to be replaced is in.
          example: '500123'
      required:
      - imageObjectId
      - uri

    MergeTableCellsRequest:
      type: object
      description: Merges cells in a table.
      properties:
        tableRange:
          $ref: '#/components/schemas/TableRange'
      required:
      - tableRange

    UnmergeTableCellsRequest:
      type: object
      description: Unmerges cells in a table.
      properties:
        tableRange:
          $ref: '#/components/schemas/TableRange'
      required:
      - tableRange

    PinTableHeaderRowsRequest:
      type: object
      description: >-
        Updates the number of pinned table header rows in a table.
      properties:
        tableStartLocation:
          $ref: '#/components/schemas/Location'
        pinnedHeaderRowsCount:
          type: integer
          description: >-
            The number of table rows to pin, where 0 implies that all
            rows are unpinned.
          example: 10
      required:
      - tableStartLocation
      - pinnedHeaderRowsCount

    TableCellLocation:
      type: object
      description: Location of a single cell within a table.
      properties:
        tableStartLocation:
          $ref: '#/components/schemas/Location'
        rowIndex:
          type: integer
          description: The zero-based row index.
          example: 10
        columnIndex:
          type: integer
          description: The zero-based column index.

          example: 10
    TableRange:
      type: object
      description: >-
        A table range represents a reference to a subset of a table.
      properties:
        tableCellLocation:
          $ref: '#/components/schemas/TableCellLocation'
        rowSpan:
          type: integer
          description: The row span of the table range.
          example: 10
        columnSpan:
          type: integer
          description: The column span of the table range.

          example: 10
    EndOfSegmentLocation:
      type: object
      description: >-
        Location at the end of a body, header, footer, or footnote.
      properties:
        segmentId:
          type: string
          description: >-
            The ID of the header, footer, or footnote the location is in.
            An empty segment ID signifies the document body.
          example: '500123'
        tabId:
          type: string
          description: The tab that the location is in.

          example: '500123'
    Response:
      type: object
      description: >-
        A single response from an update. The result of applying each
        request in a batch update.
      properties:
        createNamedRange:
          $ref: '#/components/schemas/CreateNamedRangeResponse'
        insertInlineImage:
          $ref: '#/components/schemas/InsertInlineImageResponse'
        insertInlineSheetsChart:
          $ref: '#/components/schemas/InsertInlineSheetsChartResponse'
        createHeader:
          $ref: '#/components/schemas/CreateHeaderResponse'
        createFooter:
          $ref: '#/components/schemas/CreateFooterResponse'
        createFootnote:
          $ref: '#/components/schemas/CreateFootnoteResponse'
        replaceAllText:
          $ref: '#/components/schemas/ReplaceAllTextResponse'

    CreateNamedRangeResponse:
      type: object
      description: The result of creating a named range.
      properties:
        namedRangeId:
          type: string
          description: The ID of the created named range.

          example: '500123'
    InsertInlineImageResponse:
      type: object
      description: The result of inserting an inline image.
      properties:
        objectId:
          type: string
          description: The ID of the created InlineObject.

          example: '500123'
    InsertInlineSheetsChartResponse:
      type: object
      description: The result of inserting an inline Sheets chart.
      properties:
        objectId:
          type: string
          description: The object ID of the created chart.

          example: '500123'
    CreateHeaderResponse:
      type: object
      description: The result of creating a header.
      properties:
        headerId:
          type: string
          description: The ID of the created header.

          example: '500123'
    CreateFooterResponse:
      type: object
      description: The result of creating a footer.
      properties:
        footerId:
          type: string
          description: The ID of the created footer.

          example: '500123'
[...]
